#round-number-wrapper label {
    font-size: 20px;
    margin: 6px 6px;
}

button {
    border: none;
    color:bisque;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 6px 4px;
    cursor: pointer;
    border-style: solid;
}

b {
    font-size: 20px;
}

#team-button-wrapper > button:nth-child(-n+3){
    background-color:blue;
    border-color:darkblue;

}

#team-button-wrapper > button:nth-child(n+4){
    background-color:red;
    border-color:darkred;
}

#auto-wrapper button {
    background-color: lightgreen;
    border-color:darkgreen;
    color: black;
}




